<ion-content>
  <div class="container-principal">
    
    <div class="card-estilizado" [style.background-color]="corFundoCard">
      <div class="topo-azul">Color Change</div>

      <div class="caixa-branca-sliders">
        <ion-item lines="full" class="item-rgb">
          <span class="label-rgb">R</span>
          <ion-range color="danger" min="0" max="255" [(ngModel)]="r"></ion-range>
        </ion-item>
        <ion-item lines="full" class="item-rgb">
          <span class="label-rgb">G</span>
          <ion-range color="success" min="0" max="255" [(ngModel)]="g"></ion-range>
        </ion-item>
        <ion-item lines="full" class="item-rgb">
          <span class="label-rgb">B</span>
          <ion-range color="primary" min="0" max="255" [(ngModel)]="b"></ion-range>
        </ion-item>
      </div>

    <div class="botoes-container">
  <button class="botao-pilula"
         [style.background-color]="corDoBotao1" 
          (click)="cliqueBotao1()">
          1
        </button>

        <button class="botao-pilula"
            [style.background-color]="AZUL_AVATAR" 
            (click)="cliqueBotao2()">
          2
        </button>
      </div>

      <div class="area-voltar">
        <ion-button (click)='voltar()' style="width: 100%; height: 50px; background: green; color: white; z-index: 9999; position: relative;">
         VOLTAR 
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>