<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Color Change</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="corFundo">
  <div class="container" style="padding: 20px;">
    
    <ion-list lines="none">
      <ion-item>
        <ion-range min="0" max="255" color="danger" [(ngModel)]="r">
          <ion-label slot="start">R</ion-label>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-range min="0" max="255" color="success" [(ngModel)]="g">
          <ion-label slot="start">G</ion-label>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-range min="0" max="255" color="tertiary" [(ngModel)]="b">
          <ion-label slot="start">B</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>

   <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 30px;">
  
  <ion-button 
    [style.--background]="corBotao" 
    (click)="mudarCorBotao()" 
    style="width: 150px; height: 50px; --border-radius: 25px; margin-bottom: 15px;">
    1
  </ion-button>

  <ion-button 
    [style.--background]=" '#3880ff'" 
    (click)="mudarCorFundo()" 
    style="width: 150px; height: 50px; --border-radius: 25px; margin-bottom: 20px;">
    2
  </ion-button>

  <ion-button color="success" expand="block" style="width: 90%;">
    <ion-back-button defaultHref="home" text="Voltar"></ion-back-button>
  </ion-button>

</div>
  </div>
</ion-content>