<ion-content class="ion-padding">
  <div class="container-central">
    <ion-card class="cartao-perfil">
      
      <div class="titulo-card">
        <h2>Meu Cartão de Identificação</h2>
      </div>
      
      <div class="foto-container">
        <img src="assets/icon/foto.png" alt="Foto de Perfil" />
      </div>

      <ion-card-content>
        <div class="info-texto">
          <p><strong>Nome:</strong> Madalena França Gentil Veiga</p>
          <p><strong>Código da turma:</strong> ADS0301M</p>
          <p><strong>Unidade:</strong> Bonsucesso</p>
          <p><strong>Turno:</strong> Manhã</p>
        </div>

   <div style="padding: 5px; margin-top: 5px;">
  
  <ion-item fill="outline" mode="md" style="--min-height: 45px;">
    <ion-label position="stacked" style="font-size: 0.9em;">Palavra-chave:</ion-label>
    <ion-input type="text" placeholder="Digite aqui..."></ion-input>
  </ion-item>

  <ion-button (click)="irParaTela2()" expand="block" style="--background: blue; color: white; height: 40px; margin-top: 10px;">
    TELA 2
  </ion-button>

</div>

    </ion-card-content>

    </ion-card>
  </div>
</ion-content>