<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Meu Cartão de Identificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container-central">
    <ion-card class="cartao-id">
      <div class="foto-container">
        <img src="assets/foto.png" alt="Foto de Perfil" />
      </div>

      <ion-card-content>
        <div class="info-texto">
          <p><strong>Nome:</strong> Madalena França Gentil Veiga</p>
          <p><strong>Código da turma:</strong> ADS0301M</p>
          <p><strong>Unidade:</strong> Bonsucesso</p>
          <p><strong>Turno:</strong> Manhã</p>
        </div>

        <ion-item fill="outline" mode="md" class="campo-senha">
          <ion-label position="stacked">Palavra-chave:</ion-label>
          <ion-input type="password" placeholder="Digite sua senha"></ion-input>
        </ion-item>

        <ion-button expand="block" color="success" class="ion-margin-top" (click)="irParaTela2()">
            TELA 2
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>