ion-content {
  --background: #e0e0e0;

  .container-central {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%; 
  }
}

.cartao-perfil {
  width: 90%;
  max-width: 320px;
  background: white;
  border-radius: 10px;
  padding: 10px; 
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  margin: 0 auto; 

  .titulo-card {
  background-color: #2a3eb1; 
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;

  h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.cartao-perfil {
  margin: 0; 
  overflow: hidden; 
}

  .foto-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;

    img {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      border: 4px solid #3880ff;
      object-fit: cover;
    }
  }

  .info-texto p {
    font-size: 1rem; 
    margin: 8px 0;
    color: #333;
    
    strong {
      color: #000;
    }
  }
}

ion-toolbar {
  --background: #3880ff;
  --color: white;      
}

.container-central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.area-tela2 {
  padding: 0 20px;
} 

.botao-pilula {
  --border-radius: 30px;
  font-weight: bold;
  height: 60px; 
  justify-content: center;
  width: 180px;
  font-size: 1.2rem;
}